*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.frame {
    height: 395px;
    width: 600px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid black

}

div.redline {
    background-color: #D71026;
    width:100%;
    height: 30px;
}

div.whiteline{
    background-color: white;
    width:100%;
    height: 30px;
}

div.square{
    background-color: #080866;
    width: 250px;
    height: 210px;
    position: absolute;
    


}
.line{
    display: flex;
    justify-content: space-around;
}

.secLine{
    margin: 0px 20px;
}



